*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}
.img-bg{
    position: relative;
    width: 50%;
    height: 100%;
}
.img-bg img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.noi-dung{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}
.noi-dung form{
    width: 50%;
}
.noi-dung form h2{
    color: #282A2C;
    font-weight: 500;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
    display: inline-block;
    letter-spacing: 1px;
}
.noi-dung form .form-group{
    margin-bottom: 20px;
}
.noi-dung form .form-group span{
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #282A2C;
    letter-spacing: 1px;
     }
.noi-dung form .form-group input{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    border: 1px solid #282A2C;
    font-size: 16px;
    letter-spacing: 1px;
    color: #403131;
    background: white;
    border-radius: 30px;
    }
.noi-dung form .form-group button{
    background: #cfd1bf;
    color: #000000;
    outline: none;
    border-radius: 20px;
    border: none;
    height: 30px;
    width: 100px;
    cursor: pointer;
}
.noi-dung form .form-group button:hover{
    background: #9CCD62;
}
.noi-dung form .nho-dang-nhap{
    margin-bottom: 10px;
    color: #282A2C;
    font-size: 14px;
}
.img-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.noi-dung{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 400px;
    height: 300px; */
    z-index: 1;
}
.noi-dung form{
    width: 400px;
    padding: 40px;
    background: rgba(255 255 255 / 0.9);
    margin: 50px;
    border-radius: 20px;
    background-color: #E0DDCA;
}
@media (max-width: 768px){
    .img-bg{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .noi-dung{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    .noi-dung form{
        width: 100%;
        padding: 40px;
        background: rgba(255 255 255 / 0.9);
        margin: 50px;
        border-radius: 20px;
        background-color: #E0DDCA;
    }
}

