
body{
    margin: 0;
    width: 1728px;
}
@font-face{
    src:url(./Inter-VariableFont_slnt\,wght.ttf);
    font-family: inter;
}
#homepage{
    position: relative;
   
}
/*Header*/
.header {
    display: flex;
    background: #9CCD62;
    font-family: inter;
    position: relative;
  }
.header a{
    text-decoration: none;
    font-size: 28px;
    margin: 35px 0px 0px 35px ;
  }
.header_logo {
    margin: 11px 0px 11px 27px;
  }
.header_search{
    margin: 25px 0px 0px 35px ;
    position: relative;
  }
.header_search_input{
    width: 269px;
    height: 45px;
    border: 1px solid #646464;
    border-radius: 20px;
    background-color:rgba(255, 255, 255, 0);
    font-size: 24px;
    padding-left: 15px;
  }  
.header_search i{
    position: absolute;
    top: 22px;
    left: 230px;
    color:#646464;
}
/*Order History*/
.search_order{
    margin: 25px 0px 0px 35px ;
    position: relative;
  }
.search_order_input{
    width: 600px;
    height: 80px;
    border: 1px solid #646464;
    border-radius: 20px;
    background-color:rgba(255, 255, 255, 0);
    font-size: 32px;
    padding-left: 120px;
  }  
.search_order i{
    position: absolute;
    top: 25px;
    left: 50px;
    color:#646464;
}
.order{
    font-family: 'Inter';
    margin-top: 70px;
}
.order_item{
    border: 1px solid;
    margin: 50px auto;
    width: 1622px;
    display: flex;
    justify-content: space-between;
}
.item_element{
    padding: 30px;
    text-align: center;
}
.order_item_p1{
    font-weight: 600;
    font-size: 28px;
}
.product_p1{
    font-weight: 600;
    font-size: 28px;
    text-align: center;
}
.name_pro{
    font-size: 28px;
}
.img_pro{
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 20px;
}
.item_product{
    padding: 30px;
    min-width: 400px;
}
.btn_order_detail{
    border: none;
    background-color: #9CCD62;
    border-radius: 10px;
    width: 188px;
    height: 40px;
    font-family: 'Roboto';
    font-size: 24px;
    color: #3C3D42;
}
/*Footer*/
.footer{
    display: flex;
    justify-content: space-between;
    background: #9CCD62;
    padding: 20px 306px;
    font-family: inter;
    font-size: 16px;
}
.footer ul{
    margin: 0px;
    list-style: none;
}
.footer li{
    padding: 7px;
}
.footer i{
    padding: 0px 5px 10px;
}
.footer a{
    color: black;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
.footer_line{
    width: 350px;
    border: 0.5px solid rgb(78, 78, 78);
    border-radius: 30px;
}
.footer_copy{
    font-family:Roboto;
    color: white;
    font-size: 18px;
    margin: 15px 0px 0px;
}
.button_register{
    width: 294px;
    height: 75px;
    background-color: #F6F8E2;
    border: none;
    border-radius: 38px;
    font-size: 28px;
    font-weight: 700;
}