body {
    font-family: "Inter";
    font-weight: normal;
    font-style: normal;
  }
.page-container {
	max-width: 1000px;
	margin: auto;
	padding: 20px;
}
.page-title {
	color: #9ccd62;
	font-weight: 600;
	margin: 10px 0;
}
.flex-box {
	display: flex;
}
.justify-between {
	justify-content: space-between;
}
.justify-end {
	justify-content: flex-end;
}
.items-center {
	align-items: center;
}
.margin-left-15 {
	margin-left: 15px;
}
.margin-left-10 {
	margin-left: 10px;
}
.table-box {
	border: 1px solid black;
	padding: 10px;
}
.input-note {
	padding: 5px;
	border-radius: 8px;
}
.button-dathang {
	padding: 10px 30px;
	background: #9ccd62;
	margin-left: 40px;
	border: none;
	border-radius: 8px;
}
.back-to-cart {
	text-decoration: none;
	color: #9ccd62;
}
.horizontal-box p {
	flex: 1;
}
.text-right {
	text-align: right;
}
.text-left {
	text-align: left;
}
.product-table {
	width: 100%;
}
.product-table th,
td {
	padding: 10px 0;
}
.product-img {
	width: 50px;
	height: 50px;
}
.padding-x-10 {
	padding: 0 10px;
}
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 20%;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 30px;
	border: 1px solid #888;
	width: 400px;
	border-radius: 20px;
}

.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}